dados.csv
modelo.joblib
primeiros_registros.csv
dataset/abril2018.csv
dataset/abril2019.csv
dataset/abril2020.csv
dataset/agosto2018.csv
dataset/agosto2019.csv
dataset/dezembro2018.csv
dataset/dezembro2019.csv
dataset/fevereiro2019.csv
dataset/fevereiro2020.csv
dataset/janeiro2019.csv
dataset/janeiro2020.csv
dataset/julho2018.csv
dataset/julho2019.csv
dataset/junho2019.csv
dataset/maio2018.csv
dataset/maio2019.csv
dataset/maio2020.csv
dataset/maro2019.csv
dataset/maro2020.csv
dataset/novembro2019.csv
dataset/novrmbro2018.csv
dataset/outubro2018.csv
dataset/outubro2019.csv
dataset/setembro2018.csv
dataset/setembro2019.csv
